
flask/.idea/flask.iml
flask/.idea/inspectionProfiles/profiles_settings.xml
flask/.idea/misc.xml
flask/.idea/modules.xml
flask/.idea/vcs.xml

auth/src/config/settings_local.py
django/src/config/settings_local.py

